# Object files
*.o

# Autotools
autom4te.cache
build-aux
aclocal.m4
configure
config.log
config.status
Makefile
Makefile.in
src/*.o
src/.dirstamp
src/config.h
src/config.h.in
src/config.h.in~
src/stamp-h1

# The Rest
dhcpstarv
dhcpstarv-*.tar.gz
dhcpstarv-0.?.?